* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2f363e;
  .container {
    position: relative;
    background-color: #2f363e;
    // min-height: 500px;
    border-radius: 20px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
      10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
      inset 5px 5px 20px rgba(255, 255, 255, 0.2),
      inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .clock {
      position: relative;

      width: 450px;
      height: 450px;
      background-color: #2f363e;
      border-radius: 50%;
      box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.25),
        inset 5px 5px 20px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      span {
        position: absolute;
        inset: 20px;
        color: #fff;
        text-align: center;
        transform: rotate(calc(30deg * var(--i)));
        //    360/12 = 30, that generated the calculation above
        b {
          font-size: 2em;
          opacity: 0.25;
          font-weight: 600;
          transform: rotate(calc(-30deg * var(--i)));
          display: inline-block;
        }
      }
      .circle {
        position: absolute;
        width: 300px;
        height: 300px;
        border: 2px solid rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 10;
        i {
          position: absolute;
          width: 6px;
          height: 50%;
          background-color: #f00;
          background-color: var(--clr);
          // it can be clr or any other name but it must correspond with the one in the html
          opacity: 0.75;
          transform-origin: bottom;
          transform: scaleY(0.5);
        }
      }
      .circle:nth-child(1) {
        i {
          width: 2px;
        }
      }
      .second {
        width: 240px;
        height: 240px;
        z-index: 9;
      }
      .third {
        width: 180px;
        height: 180px;
        z-index: 8;
        //   i{
        //     width: 6px;
        // }
      }
      .circle::before {
        content: "";
        position: absolute;
        top: -8.5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--clr);
        box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
      }
    }
    .clock::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #2f363e;
      border-radius: 50%;
      border: 3px solid #fff;
      z-index: 100000;
    }
    #time {
      display: flex;
      margin-bottom: 40px;
      padding: 10px 20px;
      font-size: 2em;
      font-weight: 600;
      border: 2px solid rgba(0, 0, 0, 0.5);
      border-radius: 40px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
      div {
        position: relative;
        width: 60px;
        text-align: center;
        font-weight: 500;
        color: var(--clr);
      }
      div:last-child{
        font-size: 0.5em;
        
      }
      #hour::after, #minute::after {
        content: ":";
        position: absolute;
        right: -4px;
      }
    }
  }
}
