* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2f363e;
  .container {
    position: relative;
    background-color: #2f363e;
    // min-height: 500px;
    border-radius: 20px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
     box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
        10px 10px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
        display: flex;
        justify-content: center;
        align-items: center;

    .clock {
      position: relative;

      width: 450px;
      height: 450px;
      background-color: #2f363e;
      border-radius: 50%;
      box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.25),
        inset 5px 5px 20px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
          display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        span{
           position: absolute;
           inset: 20px; 
           color: #fff;
           text-align: center;
           transform: rotate(calc(30deg * var(--i)));
        //    360/12 = 30, that generated the calculation above
        b{
            font-size: 2em;
            opacity: 0.25;
            font-weight: 600;
            transform: rotate(calc(-30deg * var(--i)));
            display: inline-block;
        }
        }
        .circle{
            position: absolute;
            width: 300px;
            height: 300px;
            border: 2px solid rgba(0, 0, 0, 0.25);
            border-radius: 50%;
        }
        .second{
            width: 240px;
            height: 240px;
        }
        .third{
            width: 180px;
            height: 180px;
        }
    }
    .clock::before{
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #2f363e;
        border-radius: 50%;
        border: 3px solid  #fff;
    }
  }
}
